<!DOCTYPE html>
<html>
<!-- Title of the web interface -->
<title>Plotting the Z-curve</title>

  <!-- Style of the page -->
  <style>
    /* sets whole page to use Helvetica for font */
    html * {
    font-family: Helvetica !important;
    }
    /*  Main titles green */
    h1 {
      color: green;
    }
    h2 {
      color: green;
    }
    /* Side by side plots - 50% of the page space */
    * {
      box-sizing: border-box;
    }
    .img-container {
      float: left;
      width: 50%;
      padding: 5px;
    } 
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>

  <!-- Body of the page -->
  <body>
  <!-- Main message for the user -->
  <h1>Calculate the GC content and plot the Z-curve from a FASTA sequence</h1>
    <!-- Instructions on file upload -->
    <p>Please choose the files to be processed; for each file, the GC content and the Z-curve will be displayed. </p>
    <!-- Form to upload the files: multiple files are allowed, but only in .fna format -->
    <form method='POST' action='' enctype='multipart/form-data'>
      <p><input type='file' name='file'  accept='.fna'  multiple></p>
      <!-- Once the user is ready, they can click Submit to start the process -->
      <p><input type='submit' value='Submit'></p>
    </form>
  <!-- Where the GC content and plots will be displayed -->
  {% block content %}{% endblock content%}
  </body>
</html>
